<!DOCTYPE html>

<html lang="en">

    <head>
    
        <!-- documentation at http://getbootstrap.com/, alternative themes at https://www.bootstrapcdn.com/bootswatch/ -->
        <link href="https://maxcdn.bootstrapcdn.com/bootswatch/3.3.7/slate/bootstrap.min.css" rel="stylesheet"/>
        <link href="{{ url_for('static', filename='styles.css') }}" rel="stylesheet"/>
        
        <!-- Fonts -->
        <link href="http://fonts.googleapis.com/css?family=Roboto:400,500,700,300,100" rel="stylesheet" type="text/css">
        
        <meta charset="utf-8"/>
        <meta content="initial-scale=1, width=device-width" name="viewport"/>

        <script src="https://code.jquery.com/jquery-3.1.1.min.js"></script>
        
        <!-- Javascript - for form Validation -->
        <link rel="stylesheet" href="http://code.jquery.com/mobile/1.4.2/jquery.mobile-1.4.2.min.css" /> 
        <script src="http://code.jquery.com/mobile/1.4.2/jquery.mobile-1.4.2.min.js"></script>          
        
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
      
        <!-- app's own JavaScrip-->
        <script src="{{ url_for('js', filename='scripts.js') }}"></script>

        <title><font size="6">LitterBug: {% block title %}{% endblock %}</font></title>

    </head>
    
   
 <body class = "body">
        <div class="container">

            <nav class="navbar navbar-default navbar-inner">
                <div class="container-fluid">
                    <div class="navbar-header">
                        <button aria-expanded="false" class="navbar-toggle collapsed" data-target="#navbar" data-toggle="collapse" type="button">
                            <span class="sr-only">Toggle navigation</span>
                            <span class="icon-bar"></span>
                            <span class="icon-bar"></span>
                            <span class="icon-bar"></span>
                        </button>
                        <a class="navbar-brand" href="{{ url_for('index') }}"> <span class="green">LitterBug</span></a>
                    </div>
                    <div class="collapse navbar-collapse" id="navbar">
                        {% if session.user_id %}
                            <ul class="nav navbar-nav">
                                <li><a href="{{ url_for('grocery_cart_new') }}">New Grocery Cart</a></li>
                                <li><a href="{{ url_for('cart_history') }}"> Cart History</a></li>
                                <li><a href="{{ url_for('rewards_structure') }}"> Rewards Program</a></li>
                            </ul>
                            <ul class="nav navbar-nav navbar-right">
                                <li><a href="{{ url_for('logout') }}">Log Out</a></li>
                            </ul>
                        {% else %}
                            <ul class="nav navbar-nav navbar-right">
                                <li><a href="{{ url_for('register') }}">Register</a></li>
                                <li><a href="{{ url_for('logout') }}">Log In</a></li>
                            </ul>
                        {% endif %}
                    </div>
                </div>
            </nav>

            {% if get_flashed_messages() %}
                <header>
                    <div class="alert alert-info" role="alert">
                        {{ get_flashed_messages() | join(" ") }}
                    </div>
                </header>
            {% endif %}
            
            <main>
                {% block main %}{% endblock %}
            </main>
            
        </div>

    </body>
</html>
